<form class="tresdetv rollDialog" autocomplete="off">

	{{#if (or isInitiative target)}}
		<header class="initiative flexrow">
			<img src="{{img}}" width="50" height="50" />
			<h3>{{name}}</h3>
		</header>
	{{/if}}
	<div class="categories">
		<input style="display: none" type="number" name="target" value="{{target}}" />
		<div class="form-group">
			<label>Modificador</label>
			<div class="form-fields">
				<input type="number" name="modificador" placeholder="0" step="1" value="{{bonus}}" />
			</div>
		</div>
		<div class="form-group">
			<label>Crítico</label>
			<div class="form-fields">
				<input type="number" name="maestria" value="{{maestria}}" max="6" min="1" />
			</div>
		</div>
		<div class="form-group">
			<label>Sem Críticos</label>
			<div class="form-fields">
				<input type="checkbox" name="semCrit" max="6" min="1" {{checked semCrit}} />
			</div>
		</div>
	</div>
</form>